.notifications .notification-content {
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  padding: 10px 0;
}

.notification-content .content-wrapper {
  display: flex;
}

.notifications img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.notifications .date {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(172, 172, 172);
}

.notifications .content {
  font-weight: bold;
  font-size: 16px;
  padding-right: 35px;
}

.notifications .acceptSee {
  float: right;
}
