<div class="container notifications">
  <div class="notification-content" *ngFor='let notification of notifications'>
    <div class='img-wrapper'>
      <img src='../../../assets/img/ikon-mail.jpg' />
    </div>
    <div class='content-wrapper'>
      <div class='main-content content'>
        {{notification.content}}
      </div>

      <div class='date-content wrapper-name-date date content-wrapper'>
        {{notification.createdAt}}
      </div>

    </div>
    <div class="button-wrapper">
      <button (click)='accseptTeam(notification.nameType)' *ngIf='notification.type === "team"'>Accept</button>
      <button (click)='viewTicket(notification?.nameType)' *ngIf='notification.type === "ticket"'>View Ticket</button>
    </div>
  </div>
</div>
