<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-1">
        <p class="footer-logo">Fera</p>
        <p class="project">Telerik Academy Alpha final project</p>
        <div class="icons-wrapper">
          <a href="https://github.com/ShakinFire/ticketing-system-angular-web-app"><fa name="fab fa-github"></fa></a>
          <a href="#"><fa name="fab fa-linkedin"></fa></a>
        </div>
        <p class="copy-right">© 2018 Fera</p>
      </div>
      <div class="col-lg-3">
        <p class="ul-title">About</p>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/dsdka">Desislava</a>
          </li>
          <li>
            <a href="https://github.com/ShakinFire">Georgi</a>
          </li>          
        </ul>
      </div>
      <div class="col-lg-3">
        <p class="ul-title">References</p>
        <ul class="list-unstyled">
          <li>
            <a href="https://codecraft.tv">Code Craft</a>
          </li>
          <li>
            <a href="https://in.thecamp.me/">The Camp</a>
          </li>
          <li>
            <a href="https://www.ng-book.com/2/">ng-book</a>
          </li>     
        </ul>
      </div>
    </div>
  </div>
</footer>
