.add-user .title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-bottom: 20px;
    letter-spacing: 0.7px;
}

.add-user .add-form {
    margin-left: 15px;
}

.add-user label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-user input {
    padding: 6px 4px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    width: 35%;
}

.add-user button {
    padding: 5px 10px;
    margin-left: 10px;
    background: #25c16f;
    border: 1px solid #1e9957;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

