<section>
  <div class="container">
    <div class="row page-wrapper">
      <div class="col-lg-6">
        <p class="title">Begin your path to success</p>
        <div class="reg-free">
          <p>Register for free and get:</p>
          <ul>
            <li>Unlimited teams and projects</li>
            <li>Access to all your logged data</li>
            <li>Unlimited storage</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 text-center all-forms">
        <div class="forms-wrapper">
          <div class="row forms-switch">
            <a [ngClass]="{'active': !formSwitch}" (click)="formSwitch && formShow()" class="col-lg-6 forms-top-btn">Sign in</a>
            <a [ngClass]="{'active': formSwitch}" (click)="!formSwitch && formShow()" class="col-lg-6 forms-top-btn">Register</a>
          </div>
          <div *ngIf="isError" class="error-message">
            {{ errorMessage }}
          </div>
          <div *ngIf="!formSwitch" class="sign-in-form">
            <form #signInForm="ngForm" (ngSubmit)="onLogin(signInForm, '/login')">
              <div class="form-group mandatory">
                <label>Email</label>
                <input type="email" name="email" required ngModel>
              </div>
              <div class="form-group mandatory">
                <label>Password</label>
                <input type="password" name="password" required ngModel>
              </div>
              <button>Sign in</button>
              <a class="forgot" href="">Forgot password?</a>
            </form>
          </div>
          <div *ngIf="formSwitch" class="register-form">
            <form #signUpForm="ngForm" (ngSubmit)="onLogin(signUpForm, '/register')">
              <div class="form-group mandatory">
                <label>First name</label>
                <input name="firstName" type="text" ngModel>
              </div>
              <div class="form-group mandatory">
                <label>Last Name</label>
                <input name="lastName" type="text" ngModel>
              </div>
              <div class="form-group mandatory">
                <label>Email</label>
                <input name="email" type="text" ngModel>
              </div>
              <div class="form-group mandatory">
                <label>Password</label>
                <input name="password" type="password" ngModel>
              </div>
              <div class="form-group mandatory">
                <label>Repeat password</label>
                <input name="repeatPassword" type="password" ngModel>
              </div>
              <button>Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- auth testing -->
  <!-- <button (click)="onAuth()">Test Auth</button> -->
</section>
