
header {
    background: white;
    box-shadow:0px 1px 5px rgba(129, 129, 129, 0.541);
}

/* #b8f5d4 */
img {
    height: 40px;
    width: 40px;
}


header h2 {
    padding: 14px 0;
}

header .sign-in {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .sign-in a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

header .sign-in a:hover {
    color: #25c16f;
}

header .sign-in li {
    display: inline-block;
    padding-left: 15px;
    font-size: 15px;
}