<header class="fixed-top">
  <nav class="container">
    <div class="row">
      <div class="logo col-lg-3">
        <h2>
          <a [routerLink]="['']">Fera</a>
        </h2>
      </div>
      <div class="col-lg-3 offset-lg-6 sign-in text-right">
        <a *ngIf="!isLoggedNav()" [routerLink]="['/auth/sign-in']">Sign In/Register</a>
        <ul *ngIf="isLoggedNav()" class="list-unstyled">
          <li><a href="#">test1</a></li>
          <li><a href="#">test2</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>