<div class="home-wrapper">
  <div class="row container page-wraper text-center mrg ">
    <div class="col-md-6 text-center all-forms forms-wrapper cold">
      <h1>Create team:</h1>
      <div class="sign-in-form">
        <div *ngIf="isError" class="error-message">
          {{ errorMessage }}
        </div>
        <form #teamsForm='ngForm' (ngSubmit)='teamsFormsData(teamsForm)' return='falce'>
          <div class="form-group">
            <label>Title:</label>
            <input type='text' name='name' required ngModel>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <input type='text' name='description' required ngModel>
          </div>
          <div class="form-group">
            <label for='inviteUser'>Invite user:</label>
            <input id='inviteUser' name='user' type='text' class='form-control' [(ngModel)]='user' (keyup.enter)='addUser()' [ngbTypeahead]="search"
            />
          </div>
          <div>
            <div *ngFor='let us of usr' class="form-group">
              <div class='col-mg-8  in' #uss>{{us}}</div>

              <img src='../../assets/img/ikon-remove.jpg' class='  in' (click)='delUser(uss)'>

            </div>
          </div>
          <button>Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
