<div class="my-teams container">
  <div class="row offset-lg-1">
    <div class="title">
      Title22
    </div>
    <div class="team col-lg-2">
      <div class="show-team">
        <div class="title">Team 20</div>
        <div class="members">Members: 10</div>
      </div>
    </div>
    <div class="team col-lg-2">
      <div class="show-team">
        <div class="title">Team 20</div>
        <div class="members">Members: 10</div>
      </div>
    </div>
    <div class="team col-lg-2">
      <div class="show-team">
        <div class="title">Team 20</div>
        <div class="members">Members: 10</div>
      </div>
    </div>
    <div class="team col-lg-2">
      <div class="show-team">
        <div class="title">Team 20</div>
        <div class="members">Members: 10</div>
      </div>
    </div>
    <div class="team col-lg-2">
      <div class="show-team">
        <div class="title">Team 20</div>
        <div class="members">Members: 10</div>
      </div>
    </div>
  </div>
</div>
