<section class="tab-menu">
  <div class="container">
    <div class="tabs">
      <ul class="list-unstyled">
        <li (click)="changeActive(0)" [ngClass]="{'active': (tabId === 0)}">Assigned tickets</li>
        <li (click)="changeActive(1)" [ngClass]="{'active': (tabId === 1)}">My tickets</li>
        <li (click)="changeActive(2)" [ngClass]="{'active': (tabId === 2)}">Teams</li>
      </ul>
    </div>
    <div class="tickets-content">
      <div *ngIf="tabId === 0" class="assigned-tickets">
        <app-assigned-tickets *ngFor="let ticket of assigTickets" [ticket]="ticket"></app-assigned-tickets>
        <app-nothing-here class="nothing-here" *ngIf="assigTickets.length === 0"></app-nothing-here>
      </div>
      <div *ngIf="tabId === 1" class="my-tickets">
          <app-assigned-tickets *ngFor="let ticket of assigTickets" [ticket]="ticket" [tabId]='1'></app-assigned-tickets>
          <app-nothing-here class="nothing-here" *ngIf="assigTickets.length === 0"></app-nothing-here>
        </div>
      <div *ngIf="tabId === 2" class="teams">
          <app-nothing-here class="nothing-here" *ngIf="assigTickets.length === 0"></app-nothing-here>
      </div>
    </div>
  </div>
</section>