<aside>
  <div class="team-info outline">
    <div class="title">
      About
    </div>
    <div class="team-main-info">
      <div class="image-wrapper">
        <img src="/../../../assets/img/avatar-team-default.gif">
      </div>
      <div class="name-members">
        <div class="name">
          {{ teamQueue?.name }}
        </div>
        <div class="members">
          Members: {{ teamQueue?.totalMembers }}
        </div>
      </div>
    </div>
    <div class="team-description">
      {{ teamQueue?.description }}
    </div>
  </div>
  <div class="team-lead-info outline">
    <div class="title">
      Team lead
    </div>
    <div class="team-lead-information">
      <div class="team-lead-header">
        <div class="image-wrapper">
          <img src="../../../assets/img/the-guy.jpeg">
        </div>
        <div class="name full-name">
          {{ teamQueue?.teamLeadUser?.firstName }} {{ teamQueue?.teamLeadUser?.lastName }}
        </div>
      </div>
      <div class="team-lead-footer">
        <fa name="fas fa-envelope"></fa>
        <p>{{ teamQueue?.teamLeadUser?.email }}</p>
      </div>
    </div>
  </div>
</aside>