<section class="ticket-description">
  <div class="ticket-wrapper">
    <div class="image-wrapper">
      <img src="../../../assets/img/the-guy.jpeg">
      <div class="full-name">
        Georgi Enev
      </div>
    </div>
    <div class="description-wrapper">
      <div class="top-description">
        <div class="title">
          Lorem ipsum dolor
        </div>
        <div class="created-at">
          Mar 31 '16 at 20:26
        </div>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis culpa doloribus quis? Corporis pariatur magni, facere iure officia architecto earum porro officiis harum rem exercitationem perspiciatis id laudantium quasi iste eveniet hic dicta sed. Vel ipsum eos, earum repudiandae culpa nemo ea iure iusto numquam illum ullam hic, beatae deserunt!
      </div>
    </div>
  </div>
</section>
