.ticket-description {
    margin-bottom: 25px;
}

.ticket-description .ticket-wrapper {
    display: flex;
}

.ticket-description .image-wrapper {
    margin: 20px 20px 20px 0;
    flex-basis: 8%;
}

.ticket-description .image-wrapper img {
    height: 50px;
    width: 50px;
    object-fit: cover;

    border-radius: 50%;
}

.ticket-description .image-wrapper .full-name {
    font-size: 12px;
    font-weight: bold;
    color: rgb(146, 146, 146);
    margin-top: 10px;
    cursor: pointer;
}

.ticket-description .image-wrapper .full-name:hover {
    text-decoration: underline;
}

.ticket-description .description-wrapper {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    background: rgb(248, 248, 248);

    flex-basis: 100%;
    padding: 15px;
    border-left: 3px solid #2a81bb;
}

.ticket-description .top-description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.ticket-description .top-description .title {
    font-weight: bold;
    font-size: 25px;
    flex-basis: 70%;
}

.ticket-description .top-description .date {
    font-size: 14px;
    color: rgb(180, 180, 180);
}

.ticket-description .top-description .created-at {
    padding-left: 30px;
}

.ticket-description .top-description .team-name {
    font-size: 14px;
    font-weight: bold;
    color: rgb(51, 132, 207);
    cursor: pointer;
    text-align: right;
    margin-top: 5px;
}

.ticket-description .description {
    margin-top: 25px;
    font-size: 15px;
}