.team-view {
    margin-top: 30px;
}

.team-view .team-wrapper {
    display: flex;
}

.team-view .queue-wrapper, .team-wrapper, .settings-wrapper {
    flex-basis: 100%;
}

.team-view .tabs ul {
    position: relative;
    top: 1px;
}

.team-view .tabs ul li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}