<div class="container team-view">
  <div class="tabs">
    <ul class="list-unstyled">
      <li (click)="changeActive(0)" [ngClass]="{'activeTab': (tabId === 0)}">Team queue</li>
      <li (click)="changeActive(1)" [ngClass]="{'activeTab': (tabId === 1)}">Members</li>
      <li (click)="changeActive(2)" [ngClass]="{'activeTab': (tabId === 2)}">Settings</li>
    </ul>
  </div>
  <div class="content-aside-wrapper">
    <div [ngClass]="{'stretch': (tabId === 2)}" class="team-wrapper">
      <div *ngIf="tabId === 0 && teamQueue" class="queue-wrapper">
        <app-team-queue [teamQueue]="teamQueue"></app-team-queue>
      </div>
      <div *ngIf="tabId === 1" class="members-wrapper">
        <app-team-members [teamQueue]="teamQueue"></app-team-members>
      </div>
      <div *ngIf="tabId === 2" class="settings-wrapper">
        <app-team-settings [teamId]="teamQueue?.id"></app-team-settings>
      </div>
    </div>
    <div *ngIf="tabId !== 2" class="aside-information">
      <app-team-aside [teamQueue]="teamQueue"></app-team-aside>
    </div>
  </div>
</div>
