<div class="settings">
  <aside class="side-menu">
    <ul class="list-unstyled">
      <li (click)="changeActiveMenu(0)" [ngClass]="{'activeMenu': (menuTab === 0)}">Add member</li>
      <li (click)="changeActiveMenu(1)" [ngClass]="{'activeMenu': (menuTab === 1)}">Options</li>
      <li (click)="changeActiveMenu(2)" [ngClass]="{'activeMenu': (menuTab === 2)}">Remove member</li>
    </ul>
  </aside>
  <div *ngIf="menuTab === 0" class="content">
    <app-add-user></app-add-user>
  </div>
  <div *ngIf="menuTab === 1" class="content">
    <app-options></app-options>
  </div>
  <div *ngIf="menuTab === 2" class="content">
    <app-remove-user></app-remove-user>
  </div>
</div>
