/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* background: red; */
    font-family: 'National-Book',Helvetica,sans-serif;
    color: #4d4d4d;

    /* prevent fixed nav */
    padding-top: 66px;

    /* prevent sticky footer overlap */
    position: relative;
    min-height: 100%;
    padding-bottom: 156px;
}

a, a:hover {
    color: #4d4d4d;
    text-decoration: none;
}