<div class="home-wrapper">
  <div class="container content-section">
    <div class="row">
      <div class="col-lg-6 front-text">
        <p class="slogan">Intuitive, feature-rich ticketing system for collaborative customer support</p>
        <div class="btn-wrapper">
          <a [routerLink]="['/auth/sign-in']">Sign up now</a>
        </div>
        <div class="what-you-can">
          <div>
            <p class="h2 title-benefits">With Fera, you can...</p>
            <p class="benefits"><fa name="fas fa-check"></fa><b>Collaborative</b> ticketing system resolving issues faster</p>
            <p class="benefits"><fa name="fas fa-check"></fa><b>Dedicated</b> space for customer tickets</p>
            <p class="benefits"><fa name="fas fa-check"></fa><b>Streamline</b> all your customer conversations in one place</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 img-wrapper">
        <img src="../../assets/img/front-page.png">
      </div>
    </div>
  </div>
</div>