<section class="assigned-tickets">
  <div class="ticket">
    <div class="left-side-ticket">
      <img src="../../../assets/img/the-guy.jpeg">
      <div class="main-info">
        <div class="title-status-label">
          <div class="wrapper-slt">
            <span [appLabelStatusColor]="ticket.status" class="status info">
              {{ ticket.status }}
            </span>
            <span class="label info">
              {{ ticket.labels }}
            </span>
            <a href="#" class="title">
              {{ ticket.title | wordBreak }}
            </a>
          </div>
        </div>
        <div class="name-date">
          <div class="wrapper-name-date">
            <span class="full-name">{{ ticket.users.firstName }} {{ ticket.users.lastName }}</span>
            <span class="date">{{ ticket.date }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
        <div class="edit">
          da
        </div>
        <div class="comments-wrapper">
          <fa name="fas fa-comment"></fa>
          <div class="total">
            32
          </div>
        </div>
    </div>
  </div>
</section>
