<section class="assigned-tickets">
  <div class="ticket">
    <div class="left-side-ticket">
      <img src="../../../assets/img/the-guy.jpeg">
      <div class="main-info">
        <div class="title-status-label">
          <div class="wrapper-slt">
            <span class="status info">
              OPEN
            </span>
            <span class="label info">
              BUG
            </span>
            <a href="#" class="title">
              Lorem ipsum dolor sit amet consectetur.
            </a>
          </div>
        </div>
        <div class="name-date">
          <div class="wrapper-name-date">
            <span class="full-name">Georgi Enev</span>
            <span class="date">Jul 28 '12 at 12:25</span>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="wrapper-comments">
          <fa name="fas fa-comment"></fa>
          <div class="total">
            32
          </div>
      </div>
    </div>
  </div>
</section>
