<section>
  <div class="main-queue">
    <div class="title-header">
      Recent Activity
    </div>
    <div class="team-queue">
      <div class="image-wrapper">
        <img src="../../../assets/img/the-guy.jpeg">
      </div>
      <div class="information-wrapper">
        <div class="main-information">
          <span class="full-name">Georgi Enev</span> assigned the ticket <span class="full-name">Get the newsletter</span> to <span class="full-name">Peter Penev</span>
        </div>
        <div class="date">
          52 minutes ago
        </div>
      </div>
    </div>
  </div>
  <div class="aside-information">
    <app-team-aside></app-team-aside>
  </div>
</section>
