<div class="main-queue">
  <div class="image-wrapper">
    <img src="../../../assets/img/the-guy.jpeg">
  </div>
  <div class="information-wrapper">
    <div class="main-information">
      <div class="requester-name">
        <span class="full-name">Georgi Enev</span> assigned the ticket 
      </div>
      <div class="ticket-name">
        <span class="full-name">Get the newsletter</span> to
      </div>
      <div class="assignee-name">
        <span class="full-name">Peter Penev</span>
      </div>
    </div>
    <div class="date">
      52 minutes ago
    </div>
  </div>
</div>
