section {
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
}

section .main-queue {
    background: rgb(248, 248, 248);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    border-top-left-radius: 0;
    padding: 15px;
    flex-basis: 100%;
}

section .team-queue {
    display: flex;
    margin-top: 10px;
}

section .title-header {
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 20px;
}

section  .image-wrapper {
    margin-right: 10px;
}

section .information-wrapper {
    flex-basis: 100%;
}

section .information-wrapper .date {
    font-size: 15px;
    color: rgb(180, 180, 180);
}

section .image-wrapper img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
}

section .information-wrapper .main-information {
    font-size: 15px;
}

section .main-information .full-name {
    font-weight: bold;
    color: rgb(49, 137, 238);
    cursor: pointer;
}