<section>
  <div class="main-queue">
    <div class="title-header">
      Recent Activity
    </div>
    <div *ngFor="let ticket of teamQueue?.tickets" class="team-queue">
      <div class="image-wrapper">
        <img src="../../../assets/img/the-guy.jpeg">
      </div>
      <div class="information-wrapper">
        <div class="main-information">
          <span class="full-name">{{ ticket?.requester?.firstName }} {{ ticket?.requester?.lastName }}</span> assigned the ticket <span class="full-name">{{ ticket?.title }}</span> to <span class="full-name">{{ ticket?.assignee?.firstName }} {{ ticket?.assignee?.lastName }}</span>
        </div>
        <div class="date">
          {{ ticket?.createdAt }}
        </div>
      </div>
    </div>
  </div>
</section>
